/*background----------------------------------*/
body{
    background: url(../hw18-images/fog-tree1.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}